body{
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/eb/89/14/eb891432f7da32ca3d190ba3bf72f1a9.jpg);

}

nav{
  background-color: black;
  text-align: center;
  font-family: "Georgia", Times, serif;
}

#board {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  background-image: url(http://tonereport.com/uploads/img/MAHOGANY.jpg);
}

.hrow{
  width: 100%
}

.vrow{
  width: 100%
}

.line{
  float: left;
  width: 29.6%;
  background-color: #662b22
  opacity: 0;
}

.line:hover{
  background-color: #662b22;
}

.column{
  float: left;
  width: 21px;
  height: 145px;
  margin-right: 240px;
  background-color: #662b22
  opacity: 0;
}

.column:hover{
  background-color: #662b22;
}

.lastcolumn{
  float: left;
  width: 22.8px;
  height: 145px;
  background-color: #662b22
  opacity: 0;
}

.lastcolumn:hover{
  background-color: #662b22;
}

.dot {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 2.8%;

  background-color: black;
  float: left;
  font-size: 50px;
  /*// #ee6e73*/
}
