body{
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/eb/89/14/eb891432f7da32ca3d190ba3bf72f1a9.jpg);
}

nav{
  background-color: black;
  text-align: center;
  font-family: "Georgia", Times, serif;
  position: 0;
}

#board {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: .5%;
  background-image: url(http://tonereport.com/uploads/img/MAHOGANY.jpg);
}

.hrow{
  width: 100%
}

.vrow{
  width: 100%
}

.line{
  float: left;
  width: 30%;
  height: 2.7vh;
}

.line:hover{
  background-color: #662b22;
  opacity: 0.5;
}

.column{
  float: left;
  width: 2.5%;
  height: 100%;
}

.column:hover{
  background-color: #662b22;
  opacity: 0.5;
}

.lastcolumn{
  float: left;
  width: 2.5%;
  height: 20vh;
}

.lastcolumn:hover{
  background-color: #662b22;
  opacity: 0.5;
}

.dot {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5%;
  background-color: black;
  opacity: 0.8;
  float: left;

  /*// #ee6e73*/
}

.box {
  float: left;
  width: 30%;
  height: 100%;
  opacity: 0.25;
}

.scoreboard {
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: "Georgia", Times, serif;
  margin-top: 2%
}
